html, body {
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  
  body {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* background: rgb(141, 88, 78); */
    /* background-image: linear-gradient(to right, #AA076B 0%, #61045F 51%, #AA076B 100%); */
    background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background-image: url('https://cdn.yellowmessenger.com/m4tsMgxXTK641597993258551.png'); */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  
  form {
    background: white;
    width: 40%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    font-family: lato;
    position: relative;
    color: #333;
    border-radius: 10px;
  }
  form header {
    /* background: #c00698; */
    background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 30px 20px;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    text-align: center;
  }
  form label {
    margin-left: 20px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 5px;
    position: relative;
  }
  form label span {
    color: #FF3838;
    font-size: 2em;
    position: absolute;
    left: 2.3em;
    top: -10px;
  }
  form input{
    display: block;
    width: 78%;
    margin-left: 20px;
    padding: 5px 20px;
    font-size: 1em;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
  }
  textarea{
    width: 78%;
    font-size: 1em;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
    margin-left: 20px;
    padding: 5px 20px;
  }
  form .help {
    margin-left: 20px;
    font-size: 0.8em;
    color: #777;
  }
  form h1 {
    width: fit-content;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(43, 40, 40);
    /* background: #FF3838; */
    background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    outline: none;
    border: none;
    padding: 5px 15px;
    font-size: 1.3em;
    font-weight: 400;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
  }
  form h1:hover {
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   color: rgb(4, 57, 138);
  }
  
